<IfModule mod_rewrite.c>
  RewriteEngine On
  # If the requested file or folder exists, serve it
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # Otherwise, serve index.html
  RewriteRule ^.*$ index.html [L,QSA]
</IfModule>
